In [1]:
# import requests
# import json

# def get_weather(api_key, city):
#     base_url = "http://api.openweathermap.org/data/2.5/weather"
#     params = {
#         "q": city,
#         "appid": api_key,
#         "units": "metric"
#     }
    
#     response = requests.get(base_url, params=params)
#     data = json.loads(response.text)
    
#     if response.status_code == 200:
#         main_weather = data['weather'][0]['main']
#         description = data['weather'][0]['description']
#         temperature = data['main']['temp']
#         humidity = data['main']['humidity']
        
#         print(f"Weather in {city}: {main_weather} ({description})")
#         print(f"Temperature: {temperature}°C")
#         print(f"Humidity: {humidity}%")
#     else:
#         print("Error retrieving weather data.")

# # API 키와 도시명을 설정합니다.
# api_key = "YOUR_API_KEY"
# city = "Seoul"

# # 날씨 데이터를 가져옵니다.
# get_weather(api_key, city)

* 최저기온 : minTa
* 최고기온 : maxTa
* 일강수량 : sumRn

In [2]:
import requests
import pandas as pd
import json
from pandas import json_normalize

url = 'http://apis.data.go.kr/1360000/AsosDalyInfoService/getWthrDataList'
params ={
        'serviceKey' : '8lxQLCYom44tsdf9NkEI825WgTSWu6eD4T9HosL/+19KJ5SLXxX6Q+3Lrfb9JgYLldnoEi03rh1u5CplkTgq6A==',
         'pageNo' : '1',
         'numOfRows' : '10',
         'dataType' : 'json',
         'dataCd' : 'ASOS',
         'dateCd' : 'DAY',
         'startDt' : '20230401',
         'endDt' : '20230510',
         'stnIds' : '108' 
        }

response = requests.get(url, params=params)
raw = response.json()
data = raw['response']['body']['items']
df = json_normalize(data['item'])

print(df.shape)
print(df.columns)

col = ['stnNm', 'tm', 'minTa', 'maxTa', 'avgTa', 'sumRn', 'maxWs', 'minRhm']
df[col]
# df.head()

(10, 62)
Index(['stnId', 'stnNm', 'tm', 'avgTa', 'minTa', 'minTaHrmt', 'maxTa',
       'maxTaHrmt', 'mi10MaxRn', 'mi10MaxRnHrmt', 'hr1MaxRn', 'hr1MaxRnHrmt',
       'sumRnDur', 'sumRn', 'maxInsWs', 'maxInsWsWd', 'maxInsWsHrmt', 'maxWs',
       'maxWsWd', 'maxWsHrmt', 'avgWs', 'hr24SumRws', 'maxWd', 'avgTd',
       'minRhm', 'minRhmHrmt', 'avgRhm', 'avgPv', 'avgPa', 'maxPs',
       'maxPsHrmt', 'minPs', 'minPsHrmt', 'avgPs', 'ssDur', 'sumSsHr',
       'hr1MaxIcsrHrmt', 'hr1MaxIcsr', 'sumGsr', 'ddMefs', 'ddMefsHrmt',
       'ddMes', 'ddMesHrmt', 'sumDpthFhsc', 'avgTca', 'avgLmac', 'avgTs',
       'minTg', 'avgCm5Te', 'avgCm10Te', 'avgCm20Te', 'avgCm30Te', 'avgM05Te',
       'avgM10Te', 'avgM15Te', 'avgM30Te', 'avgM50Te', 'sumLrgEv', 'sumSmlEv',
       'n99Rn', 'iscs', 'sumFogDur'],
      dtype='object')

  stnNm          tm minTa maxTa avgTa sumRn maxWs minRhm
0    서울  2023-04-01   9.4  25.6  17.5         4.5     19
1    서울  2023-04-02  11.9  25.2  18.8         5.9     16
2    서울  2023-04-03  11.3  25.9  19.0         4.3     16
3    서울  2023-04-04  12.7  21.7  17.6   6.9   6.1     16
4    서울  2023-04-05   8.7  14.9  11.9  50.3   5.8     90
5    서울  2023-04-06   7.4   9.7   8.8   2.7   4.6     84
6    서울  2023-04-07   4.6  15.7   8.9         7.0     36
7    서울  2023-04-08   3.1  14.9   8.8         7.0     25
8    서울  2023-04-09   3.5  17.8  10.8         6.0     33
9    서울  2023-04-10   6.2  19.1  13.2         6.3     31